= render :partial => "application/subnav", :locals => { :season => @season, :rankings => @season.rankings }

%h2.text-center.mt-4
  Leaderboard

#ranking
  .container
  %p#notice= notice
  %table.table.table-fluid
    %thead
      %tr
        %th Racer
        %th PP
        %th PA
        %th MP
        %th PO
        %th CC
        %th FJ
    %tbody
      %tr
        %td
          YUN
        %td
          3.040
        %td
          2033
        %td
          0.967
        %td
          64.65
        %td
          174
        %td
          9
