- content_for :title, t("results.meta.edit.page-title")

= render :partial => "application/subnav", :locals => { :season => @session.ranking.season, :rankings => @session.ranking.season.rankings, :ranking => @session.ranking, :session => @session }

%h1
  = t("rankings.sessions.edit.title")

= render 'form', session: @session
