[Unit]
Description=RVA Website
After=network.target

[Service]
User=rva
Group=rva
WorkingDirectory=/home/rva/RVA/current

ExecStart=/bin/bash -lc 'docker-compose -f docker-compose.production.yml -p rva down && docker-compose -f docker-compose.production.yml -p rva up --build -d'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
