[Unit]
Description=RVA Website
Requires=docker.service
After=docker.service network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=rva
Group=rva
WorkingDirectory=/home/rva/RVA/current

ExecStart=/usr/bin/docker compose -f docker-compose.production.yml up -d
ExecStop=/usr/bin/docker compose -f docker-compose.production.yml stop

[Install]
WantedBy=multi-user.target
