- content_for :title, t("play.page-title")
- meta :title, t("play.meta.title")
- meta :description, t("play.meta.description")

#tracklist.container
  .row.justify-content-center
    .col-md-8.text-center
      = link_to current_schedule, action: 'index', class: 'btn btn-important track-button' do
        = t("play.track-list.button_html")

#play.container
  .row.justify-content-center
    .col-md-8
      .clock-card.text-center.mb-4
        #clock
          #time
            %span{:id => "hour"} 00
            \:
            %span{:id => "minutes"} 00
            \:
            %span{:id => "seconds"} 00
            \-UTC

        .clock-info.mt-3
          %h6= t('play.subheader')
          %h6= t('play.subheader2_html')

      .discord-section.text-center.mb-4
        %iframe{:src => "https://discord.com/widget?id=308469225557721090&theme=dark",
                :width => "350",
                :height => "500",
                :allowtransparency => true,
                :frameborder => "0",
                :sandbox => "allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"}
