#play.container
  .text-center
    .col-md-12
      #clock
        #time
          %span{:id => "hour"}
            00
          \:
          %span{:id => "minutes"}
            00
          \:
          %span{:id => "seconds"}
            00
          \-UTC
    .col-md-12
      %p.nissan-title
        We play daily at 23:00 UTC
      %p.nissan-title
        Lobbies are posted at
        %code.nissan-code #lobby-rva
    .col-md-12
      %iframe{:src => "https://discord.com/widget?id=308469225557721090&theme=dark",
              :width => "350",
              :height => "500",
              :allowtransparency => true,
              :frameborder => "0",
              :sandbox => "allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
              }
