- if user.admin?
  %a.label{:href => staff_path, :style => "background-color: #f89406; color: white;"} Administrator
- if user.mod?
  %a.label{:href => staff_path, :style => "background-color: #ff2200; color: white;"} Moderator
- if user.organizer?
  %a.label{:href => staff_path, :style => "background-color: #36f971; color: white;"} Organizer
