- if user.admin?
  %a.label{:href => staff_path, :style => "background-color: #dd7921; color: white;"} Administrator
- if user.mod?
  %a.label{:href => staff_path, :style => "background-color: #dd212d; color: white;"} Moderator
- if user.organizer?
  %a.label{:href => staff_path, :style => "background-color: #2ecc71; color: white;"} Organizer
