- content_for :title, t("users.meta.new.page-title")
%h2.mb-4
  = t("users.import.title")

= form_with :url => users_import_path, :method => :post do |f|
  .row
    .col-md-5
      .field.file-input-group
        = f.file_field :file, :accept => ".csv", :class => "form-control-file"

      = f.button t("misc.submit.import"), :type => "submit", :"data-turbo" => false, :class => "btn"
