<h1>Editing weekly schedule</h1>

<%= render "form", weekly_schedule: @weekly_schedule %>

<br>

<div>
  <%= link_to "Show this weekly schedule", @weekly_schedule %> |
  <%= link_to "Back to weekly schedules", weekly_schedules_path %>
</div>
