<p style="color: green"><%= notice %></p>

<h1>Weekly schedules</h1>

<div id="weekly_schedules">
  <% @weekly_schedules.each do |weekly_schedule| %>
    <%= render weekly_schedule %>
    <p>
      <%= link_to "Show this weekly schedule", weekly_schedule %>
    </p>
  <% end %>
</div>

<%= link_to "New weekly schedule", new_weekly_schedule_path %>
