@import "assets";
@import "cars";
@import "downloads";
@import "errors";
@import "footer";
@import "kaminari";
@import "nav";
@import "play";
@import "points";
@import "profiles";
@import "races";
@import "rankings";
@import "repositories";
@import "rules";
@import "seasons";
@import "sessions";
@import "staff";
@import "stats";
@import "teams";
@import "tournaments";
@import "tracks";

@import "twemoji/flags";

@font-face {
    font-family: NissanOpti;
    src: url(fonts/NissanOpti.otf);
}

@font-face {
  font-family: NissanOpti-Italic;
  src: url(fonts/NissanOpti-Italic.otf);
}

@font-face {
  font-family: Bahnschrift-Light;
  src: url(fonts/Bahnschrift-Light.ttf);
}

body {
  color: #beb8bc;
  background-color: #000000;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizelegibility;
}

h1, h2, h3 {
  font-family: NissanOpti, serif;
  margin: 10px 0;
  font-weight: bold;
  color: #fff;
}

button {
  color: #beb8bc;
  box-shadow: none;
}

button:hover, button:focus {
  color: #ffffff;
}

input[type=file]::file-selector-button {
  border-top: transparent;
  border-bottom: transparent;
  border-left: transparent;
  border-right: 1px solid #dacece;
  background-color: #000;
  color: #beb8bc;
  padding: 10px;
}

input[type=file]::file-selector-button:hover, input[type=file]::file-selector-button:focus {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

textarea {
  resize: both;
  margin-left: 15px;
  width: 540px;
  height: 171px;
}

.input-group {
  border: 1px solid #ced4da;
  border-radius: 3px;
  margin-bottom: 1rem;
  padding: 0;
}

.dropdown-item {
  color: #ffffff;
}

.dropdown-item:hover {
  color: #000000;
}

.dropdown-item:focus {
  background-color: #ffffff;
  color: #000000;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 1175px;
}

.alert {
  margin-bottom: 0;
}

.alert-warning {
  color: #856404;
  background-color: #fff1bb;
  border-color: #fff1bb;
}

.alert-success {
  color: #155724;
  background-color: #ace8b9;
  border-color: #ace8b9;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ced4da;
  background-color: #000000;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
  color: #beb8bc;
  background: black;
  border-color: #ffffff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(177, 177, 177);
}

.form-control::placeholder {
  color: #beb8bc;
  opacity: 1;
}

.form-errors {
  border-radius: 3px;
  padding: 15px;
  margin-top: 2rem;
  background-color: #f8d7da;
  border-color: #f8d7da;
  color: #721c24;
}

.btn {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover, .btn:focus {
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:focus {
  box-shadow: none;
}

.btn-important {
  box-shadow: inset 0 1px 0 rgba(40, 40, 40, 0.4), 0 1px 5px rgba(170, 170, 170, 0.4), 0 2px 10px rgba(170, 170, 170, 0.4);
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(to bottom, #2b2b2b, #000000);
  border-color: #282828 #1d1d1d #000000;
  transition: color 0.3s ease-out;
  z-index: 1;
  display: inline-block;
  position: relative;
  padding: 7px 12px;
  border-radius: 0.125rem;
}

.btn-important:before {
  box-shadow: inset 0 1px 0 rgba(40, 40, 40, 0.4), 0 1px 5px rgba(170, 170, 170, 0.4), 0 2px 10px rgba(170, 170, 170, 0.4);
  background-image: linear-gradient(to bottom, #1d1d1d, #000000);
  border-color: #282828 #1d1d1d #000000;
  border-radius: 0.188rem;
  content: "";
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-out;
}

.btn-important:hover:before, .btn-important:focus:before {
  opacity: 1;
}

.btn-important:hover, .btn-important:focus {
  color: #fff;
  text-decoration: none;
  box-shadow: inset 0 1px 0 rgba(40, 40, 40, 0.4), 0 1px 5px rgba(170, 170, 170, 0.4), 0 2px 10px rgba(170, 170, 170, 0.4);
}

.btn-important:before, .btn-important:hover, .btn-important:focus {
  border-radius: 0.25rem;
}

.dl-horizontal dt {
  float: left;
  width: 160px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dl-horizontal dd {
  margin-left: 180px;
}

#splash {
  .jumbotron.main {
    overflow: hidden;
    position: relative;
    padding: 40px 0;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 10px rgba(0,0,0,0.5), 0 0 30px rgba(0,0,0,0.1);
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .5);
    background: url("index/splash.png") center;
    margin-bottom: 0 !important;
    border-radius: 0;
  }

  .masthead.main {
    padding: 70px 0 80px;
    margin-bottom: 0;
    color: #fff;
    border-top: 1px solid #beb8bc;
    border-bottom: 1px solid #beb8bc;

    .btn-important {
      font-size: 28px;
      padding: 10px 25px;
      border-radius: 0.25rem;
    }

    h1 {
      font-family: "NissanOpti", serif;
      font-size: 80px;
      line-height: 1;
      letter-spacing: -2px;
    }

    @media screen and (max-width: 400px) {
      h1 {
        font-size: 55px;
      }
    }

    p {
      font-size: 32px;
      font-weight: 100;
      line-height: 1.25;
      margin: 0 0 30px;
    }
  }
}

#landing {
  margin-top: 2rem;

  img {
    position: relative;
    border: 1px solid #beb8bc;
  }

  h2 {
    margin-top: 23px;
  }
}

#recent {
  h3 {
    color: #fff;

    a {
      color: #fff;
    }
  }

  img {
    position: relative;
    border: 1px solid #beb8bc;
  }

  strong {
    color: #fff;
  }

  a, a:hover, a:focus {
    text-decoration: none;
  }

  .media-group {
    background-color: #212121;
    border: 1px solid #646464;
    border-radius: 4px;

    h6 {
      margin-bottom: 19px;
      padding-left: 15px;
      padding-right: 15px;
      font-weight: bold;
      border-bottom: 1px solid #646464;
    }
  }

  .media {
    text-decoration: none;
    z-index: 1;
    position: relative;
    padding-left: 19px;
    padding-right: 19px;
    border-bottom: 1px solid #646464;
  }

  .media:before {
    background-color: #151515;
    border-radius: 4px;
    content: "";
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .media:hover:before, .media:focus:before {
    opacity: 1;
  }

  .session-number {
    height: 32px;
    width: 32px;
    border-radius: 3px;
    margin-right: 7px;
    margin-top: 3px;
    font-family: NissanOpti, serif;
    color: black;
  }

  .session-date {
    color: #c6c6c6;
  }

  .session-host {
    color: #c6c6c6;
  }
}

.nissan-code {
  font-family: NissanOpti, serif;
  color: #f30039;
}

.popover-body {
  font-weight: bold;
  background-color: #2E2F30;
  color: #bdbdbd;
  border-radius: 3px;
}

.arrow:after {
  border-bottom-color: #2E2F30 !important;
  border-top-color: #2E2F30 !important;
}
