#cars {
  a {
    color: #beb8bc;
  }

  a:hover {
    color: #fff;
  }

  .car-category-img {
    height: 100%;
    width: 100%;
    border: 1px solid #beb8bc;
  }

  .car-category-img-small {
    height: 100%;
    width: 30%;
    border-radius: 3px;
  }

  .car-category-thumbnail {
    position: relative;
    margin-top: 30px;
  }

  .car-category-thumbnail-small {
    position: relative;
  }

  .car-category-thumbnail-overlay {
    position: relative;
  }

  .car-category-thumbnail-overlay:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, black, black);
    opacity: 40%;
  }

  .car-category-caption {
    font-family: NissanOpti, serif;
    font-size: 275%;
    text-shadow: 0 1px 10px rgb(0, 0, 0), 0 0 30px rgb(0, 0, 0);
    position: absolute;
    top: 27%;
    width: 100%;
    left: 0;
  }
}

#car-card {
  h2 {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: -10px;
  }

  p {
    margin-top: 7px;
    margin-bottom: 7px;
    font-weight: bold;
  }

  img {
    border-radius: 2px;
  }

  .card {
    margin-top: 30px;
  }

  .car-title {
    font-size: 22px;
  }

  .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
  }

  .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: #beb8bc;
  }

  .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #000000;
    /* background-clip: border-box; */
    /* border: 1px solid rgba(0,0,0,.125); */
    border-radius: .25rem;
    border-color: #beb8bc;
  }

  .card-footer {
    padding: .3rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-color: #beb8bc;
  }

  .card-img-top {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
  }
}

#car-cards-display {
  .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ced4da;
    background-color: #000000;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .form-control:focus {
    border-color: #ffffff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(177, 177, 177);
  }

  .form-control::placeholder {
    color: #beb8bc;
    opacity: 1;
  }

  .search-bar {
    background: black;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1;
  }
}
