#faq {
  h6 {
    font-weight: bold;
    margin-bottom: 1em;
    margin-left: 1em;
  }

  .card .card-header {
    border: 0;
    border-radius: 0 !important;
    padding: 0;
  }

  .card .card-body {
    a {
      color: #eaeaea;
      font-weight: bold;
      text-decoration: underline;
    }

    a:hover {
      color: #ffffff;
    }

    h4:first-of-type {
      font-weight: bold;
    }

    h4:not(:first-child) {
      padding-top: 15px;
      font-weight: bold;
    }

    h5 {
      font-weight: bold;
      padding-top: 15px;
    }

    p {
      margin-bottom: 5px;
    }

    img {
      display: block;
      max-width: 80%;
      height: auto;
      margin-top: 1em;
      margin-bottom: 1em;
    }

    .parameters {
      font-size: 120%;
    }

  }

  .card .card-header .btn-header-link {
    font-weight: bold;
    font-size: large;
    display: block;
    text-align: left;
    background: #1a1a1a;
    color: #fff;
    padding: 20px;
  }

  .card .card-header .btn-header-link:hover {
    font-weight: bold;
    font-size: large;
    display: block;
    text-align: left;
    background: #1a1a1a;
    padding: 20px;
  }

  .card .card-header .btn-header-link:after {
    font-family: 'Font Awesome 5 Free', serif;
    content: "\f107";
    font-weight: bold;
    float: right;
  }

  .card .card-header .btn-header-link.collapsed:hover {
    background: #1a1a1a;
    color: #fff;
  }

  .card .collapsing {
    background: #212121;
    color: #beb8bc;

    h1, h2, h3, h4, h5 {
      color: #fff;
    }
  }

  .card .collapse.show {
    background: #212121;
    color: #beb8bc;

    h1, h2, h3, h4, h5 {
      color: #fff;
    }
  }

  .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
  }

  .btn {
    color: #fff;
    background-color: transparent;
    border: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: .25rem;
  }
}
