nav {
  background-color: #000000;
  border-color: transparent;
}

.navbar-brand:hover {
  border-radius: 3px;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.nav-link:focus, .nav-link:hover {
  color: #ffffff;
}

.nav-item:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #000000;
}

.navbar-nav > li > .dropdown-menu a {
  color: #fff;
}

.navbar-nav > li > .dropdown-menu a:hover {
  background-color: #fff;
  color: black;
}

.navbar-nav > li > .dropdown-menu a:focus {
  background-color: #fff;
  color: black;
}

.navbar-nav > li > .dropdown-menu input {
  color: #fff;
}

.navbar-nav > li > .dropdown-menu input:hover {
  background-color: #fff;
  color: black;
}

.navbar-nav > li > .dropdown-menu input:focus {
  background-color: #fff;
  color: black;
}

.navbar-toggler-icon {
  width: 1rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #beb8bc;
}

.navbar-dark .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.31);
}

.navbar-dark .navbar-toggler:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.nav-tabs .nav-link {
  color: #beb8bc;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #000000;
  background-color: #ffffff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.locale-flag {
  height: 29px;
  width: 29px;
}

.dropdown-submenu {
  display: block;
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  position: relative !important;
  background-color: #000000;
}

.dropdown-submenu .dropdown-menu {
  right: 20%;
  margin-left: .1rem;
  margin-right: .1rem;
}

.current-username {
  font-family: "NissanOpti", serif;
}

.sub-nav {
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 0;

  .nav-item {
    border-radius: 0;
  }

  .active {
    background-color: #fff;
    color: #000 !important;
  }
}

.nav-pills > ul > li > a,
.nav-pills > li > a {
  position: relative;
  display: block;
  padding: 3px 10px;
  border-radius: 3px;
  text-decoration: none;
  color: #beb8bc;
}

.nav-pills > ul > li > a:hover,
.nav-pills > li > a:hover {
  background-color: #fff;
  color: #000;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #fff !important;
  color: #000 !important;
}
