#ranking {
  h3 {
    a {
      color: #fff;
    }
  }

  table {
    th {
      color: #fff;
    }

    td {
      color: #a6a6a6;
    }
  }

  strong {
    color: #fff;
  }

  img {
    position: relative;
    border: 1px solid #beb8bc;
  }

  p {
    color: #c6c6c6;
  }

  .session-number {
    height: 32px;
    width: 32px;
    border-radius: 3px;
    margin-right: 7px;
    margin-top: 3px;
    font-family: NissanOpti, serif;
    color: black;
  }

  .session-date {
    color: #c6c6c6;
  }

  .session-host {
    color: #c6c6c6;
  }
}
