#repositories {
  h3 {
    a {
      font-family: "Segoe UI", sans-serif;
    }
  }

  table {
    background-color: #212121;
    border: 1px solid #646464;
  }

  th {
    background-color: #1a1a1a;
    color: #ffd966;
    border: 0;
    height: 40px;

    a {
      color: #ffd966;
    }
  }

  tr {
    color: #beb8bc;
    border: 0;
  }

  td {
    border: 0;
  }

  .rev {
    a {
      color: #fff;
    }
  }

  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff;
    background-color: #000;
    border-color: #fff;
  }

  .nav-link:hover, .nav-link:focus {
    border-color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .nav-item {
    a {
      color: #bdbdbd;
    }
  }

  .commit-message {
    position: relative;

    .expand-toggle {
      display: none;

      &:checked {
        & + .expand-label + .message-full {
          display: block;
          margin-left: 10px;
        }
      }
    }

    .expand-label {
      display: inline-block;
      cursor: pointer;
      padding: 0 0;
      margin-left: 0.3rem;
      font-weight: bold;
      color: white;
    }

    .message-full {
      display: none;
      padding-top: 0.5rem;
    }
  }
}
