#stats-table {
  small {
    font-size: 70%;
  }

  thead {
    color: #bdbdbd;
  }

  tbody {
    color: #beb8bc;
  }

  .stats-head-entry {
    height: 26px;
    width: 26px;
    border-radius: 3px;
  }
}