#stats-table {
  table {
    font-family: "Bahnschrift-Light", sans-serif;
    background-color: #212121;
    border: 1px solid #646464;
  }

  th {
    background-color: #1a1a1a;
    color: #ffd966;
    border: 0;
    height: 40px;

    a {
      color: #ffd966;
    }
  }

  tr {
    color: #beb8bc;
    border: 0;
  }

  td {
    border: 0;
  }

  a {
    color: #fff;
  }

  .stats-head-entry {
    height: 26px;
    width: 26px;
    border-radius: 3px;
  }

  .rank {
    color: #fff;
  }

  .country-flag {
    font-size: 25px;
  }
}

.btn.btn-primary:hover, .btn.btn-primary:focus {
  color: #000 !important;
  background-color: #fff !important;
  border: 1px solid #fff !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  box-shadow: inset 0 1px 0 rgba(40, 40, 40, 0), 0 1px 5px rgba(56, 56, 56, 0), 0 2px 10px rgba(47, 47, 47, 0) !important;
}

@media screen and (max-width: 400px) {
  .btn.btn-primary {
    margin-top: 5px;
  }
}
