#weekly-schedules {
  #weekly-schedules-table {

    table {
      background-color: #151515;
      width: 80%;
      border: 1px solid #646464;
      margin: 20px auto;
    }

    th {
      background-color: #101010;
      color: #ffd966;
      height: 40px;
      text-align: center;
    }

    td, th {
      border: 1px solid #646464;
    }

    tr {
      color: #ffffff;
    }
  }
}

#weekly-schedule {
  #track-list-table {
    th {
      font-family: NissanOpti, serif;
      font-size: 20px;
      background-color: #003366;
    }

    tr {
      color: #fff;
      font-weight: bold;
    }

    .red {
      background-color: #800000;
    }

    .black {
      background-color: #000001;
    }
  }
}
