:markdown
  ## **#{t('privacy.title')}**
  ---

  #{ORG::NAME} collects and stores information about users in very few ways:

  - All text sent through our public Discord chats. Only the Staff Team has access to these records,
   which we use to investigate reports of harassment and other rule violations.
  - If you choose to donate towards the community's development effort, your payment information is sent directly to
   GitHub or any other vendor we may be receiving sponsorships through. We do not store payment information on our own
   servers.
  - Nothing else! We value privacy!

  In general, #{ORG::NAME} collects user information only for the purpose of improving our services. Sensitive
  information is only visible to our own staff, and only to those staff who need it to do their job.
