#splash.mb-2
  .jumbotron.main.masthead.container-fluid
    .container
      %h1
        = ORG::NAME
      %p
        = t("application.splash.description1")
        %br
        = t("application.splash.description2")
      %a.btn-important{ href: downloads_path }
        = t("application.splash.download-button")
