#splash.mb-2
  .jumbotron.main.masthead.container-fluid
    .container
      %h1
        = ORG::NAME
      %p
        = t("splash.description1")
        %br/
        = t("splash.description2")
      %a.btn-important{ href: downloads_path }= t("splash.download-button")
