= form_with(model: stat) do |form|
  - if stat.errors.any?
    #error_explanation
      %h2
        = pluralize(stat.errors.count, "error")
        prohibited this stat from being saved:
      %ul
        - stat.errors.each do |error|
          %li= error.full_message
  .actions
    = form.submit
